<!-- livro-create.component.html -->
<div class="container mt-4">
  <form [formGroup]="livroForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="Autor_CodAu" class="form-label">Autor</label>
      <select id="Autor_CodAu" class="form-select" formControlName="Autor_CodAu">
        <option value="" disabled selected>Selecione um autor</option>
        <option *ngFor="let autor of autores" [value]="autor.CodAu">{{ autor.Nome }}</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="Assunto_codAs" class="form-label">Gênero</label>
      <select id="Assunto_codAs" class="form-select" formControlName="Assunto_codAs">
        <option value="" disabled selected>Selecione um gênero</option>
        <option *ngFor="let assunto of assuntos" [value]="assunto.codAs">{{ assunto.Descricao }}</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="Titulo" class="form-label">Título</label>
      <input type="text" class="form-control" id="Titulo" formControlName="Titulo">
    </div>

    <div class="mb-3">
      <label for="Editora" class="form-label">Editora</label>
      <input type="text" class="form-control" id="Editora" formControlName="Editora">
    </div>

    <div class="mb-3">
      <label for="Edicao" class="form-label">Edição</label>
      <input type="number" class="form-control" id="Edicao" formControlName="Edicao" min="1" (keydown)="somenteNumero($event)">
    </div>

    <div class="mb-3">
      <label for="AnoPublicacao" class="form-label">Ano de Publicação</label>
      <input 
        type="text" 
        class="form-control" 
        id="AnoPublicacao" 
        formControlName="AnoPublicacao" 
        (keydown)="somenteNumero($event)" 
        (blur)="checkAnoPublicacao()"
        maxlength="4"
      >
      <small *ngIf="livroForm.get('AnoPublicacao')?.errors?.minlength && livroForm.get('AnoPublicacao')?.touched" class="text-danger">
        O ano deve ter 4 dígitos.
      </small>
      <small *ngIf="livroForm.get('AnoPublicacao')?.errors?.max && livroForm.get('AnoPublicacao')?.touched" class="text-danger">
        O ano deve ser menor ou igual ao ano atual.
      </small>
      <small *ngIf="livroForm.get('AnoPublicacao')?.errors?.min && livroForm.get('AnoPublicacao')?.touched" class="text-danger">
        O ano deve ser maior ou igual a 1000.
      </small>
    </div>

    <div class="mb-3">
      <label for="preco" class="form-label">Preço</label>
      <input 
        type="text" 
        class="form-control" 
        id="preco" 
        formControlName="preco" 
        currencyMask
        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
        (keydown)="somenteNumero($event)" 
        (blur)="checkPreco()"
      >
      <small class="text-muted">Formato: R$ 0,00</small>
    </div>
    

    <button type="submit" class="btn btn-success">Salvar</button>
  </form>
</div>